#container{
    border: 1px solid #ccc;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}
header{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
#leftAside{
    border: 1px solid #ccc;
    width: 220px;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
    background-color: bisque;
}
section{
    border: 1px solid #ccc;
    padding: 20px;
    float: left;
    margin: 0 5px;
    margin-bottom: 20px;
    width: 384px; /* 960 - 2* {(2: 테두리) - (40 : 패딩) - (220 : 너비)} -(10 : 좌우요소) */
}
#rightAside{
    border: 1px solid #ccc;
    width: 220px;
    padding: 20px;
    float: right;
    margin-bottom: 20px;
    background-color: aquamarine;
}
footer{
    border: 1px solid #ccc;
    clear: both;
    padding: 10px;
}
.textGreen{
    color: #14bb22;
}